In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [21]:
df_eg_bar = pd.read_csv(r"Eg-2025-05-07_12-17-08\Barometer.csv")
df_1g_bar = pd.read_csv(r"1_og-2025-05-07_12-17-43\Barometer.csv")
df_2g_bar = pd.read_csv(r"2_og-2025-05-07_12-18-13\Barometer.csv")

In [22]:
#converting values from mbar to Pa
df_eg_bar['pressure'] = df_eg_bar['pressure']*100
df_1g_bar['pressure'] = df_1g_bar['pressure']*100
df_2g_bar['pressure'] = df_2g_bar['pressure']*100

In [23]:
df_eg_bar

                    time  seconds_elapsed  relativeAltitude       pressure
0    1746620228315928300         0.198928          0.000000  101548.822021
1    1746620228340960800         0.223961         -0.073984  101549.737549
2    1746620228365992000         0.248992         -0.073984  101549.737549
3    1746620228391023900         0.274024          0.026423  101548.516846
4    1746620228416068600         0.299069          0.052845  101548.211670
..                   ...              ...               ...            ...
202  1746620233371894000         5.254894         -0.634146  101556.427002
203  1746620233396926000         5.279926         -0.681705  101557.037354
204  1746620233421946600         5.304947         -0.734552  101557.647705
205  1746620233446975700         5.329976         -0.708130  101557.342529
206  1746620233472004000         5.355004         -0.554878  101555.511475

[207 rows x 4 columns]

In [24]:
eg_bar = df_eg_bar['pressure'].mean()
eg_bar

101554.46803880774

In [25]:
eg_bar_std = df_eg_bar['pressure'].std()
eg_bar_std

2.682938234124455

In [26]:
bar_1g = df_1g_bar['pressure'].mean()
bar_1g

101501.96364996002

In [27]:
bar_2g = df_2g_bar['pressure'].mean()
bar_2g

101453.77086292613